<?php

/* Servers configuration */
$i = 0;
{% for host in phpmyadmin_hosts_list %}
/* Server: {{ host.name | default('localhost') }} */
$i++;
$cfg['Servers'][$i]['verbose'] = '{{ host.name }}';
$cfg['Servers'][$i]['host'] = '{{ host.ip | default('localhost') }}';
$cfg['Servers'][$i]['port'] = '{{ host.port | default('3306') }}';
$cfg['Servers'][$i]['socket'] = '';
$cfg['Servers'][$i]['auth_type'] = 'cookie';
$cfg['Servers'][$i]['user'] = '';
$cfg['Servers'][$i]['password'] = '';
$cfg['Servers'][$i]['AllowNoPassword'] = false;
$cfg['Servers'][$i]['AllowRoot'] = false;

{% endfor %}

/* End of servers configuration */

$cfg['blowfish_secret'] = "{{ blowfish_secret }}";
$cfg['UploadDir'] = '';
$cfg['SaveDir'] = '';
$cfg['BZipDump'] = false;
$cfg['DefaultLang'] = 'en';
$cfg['ServerDefault'] = 1;
$cfg['TempDir'] = '/tmp';
$cfg['VersionCheck'] = false;
$cfg['ShowPhpInfo'] = false;
$cfg['PmaNoRelation_DisableWarning'] = true;
$cfg['ShowServerInfo'] = false;
$cfg['NavigationTreeEnableGrouping'] = false;
?>
